<!doctype html>
<html>
  <head>
    {% comment %}start header content{% endcomment %}
    {{ content_for_header }}
    {% comment %}end header content{% endcomment %}
  </head>

  <body>
    {% capture content %}
  {{ content_for_layout }}
{% endcapture %}
    {% comment %}here is the form {% endcomment %}
    {% render 'password-form', content: content %}
  </body>
</html>
